nav {
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-bottom: 10px;
}

.nav-link,
.nav-link:visited,
.nav-link {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 35px;
  border-radius: 4px;
  text-decoration: none;
  background-color: #1cb900;
  color: #fff;
  font-weight: 600;
  font-size: 11px;
  transition: all 0.2s;
}

.nav-link:hover {
  background-color: #199c02;
}

.navbar-wrapper{
  display: flex;
  justify-content: flex-end;
}
